





 p{
    color:rgb(255, 255, 255);
    font-size: medium;
    font-family:'';
    background-color: rgba(20, 73, 141, 0.795);
    text-align: center;
 }
 h1{
    color:rgb(0, 110, 255);
    text-align: center;
 }




body{
    background-color: rgb(23, 50, 63);
}



img{
    height:400px;
    width: 400px;;
    border-radius:00px ;
    border: 10px solid rgb(15, 114, 228);
    image-orientation: center;
}